*{
    margin: 0%;
    padding:0%;
    font-family: 'Mulish',sans-serif;
}
.fnav{
    display:flex;
    justify-content:center;
    justify-content: space-around;
    padding: 2px;
    background-color: rgb(42,42,68);
}
.fnav.left{
    display: flex;
    margin-top: 10px;
}
.right p{
    margin-inline: 22px;
    font-size: 22px;
}
.left img{
    width: 130px;
}
.fnav.right{
    display: flex;
    margin-right: 16px;
}
.right button{
    margin-inline:22px;
    width:80px;
    height:27px;
    border:none;
    border-radius: 2px;
    background-color:rgb(244,69,98);
    color:white;
}
.right i{
    margin-inline:22px;
    font-size: 22px;
}
.sec-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding:0px;
    background-color: rgb(26,26,48);
    color: white;
}
.sec-nav .sec-left{
    display: flex;
}
.sec-nav .sec-right{
    display: flex;
}
.sec-nav p:hover{
    color:rgb(245,70,99);
    cursor:pointer;
    font-weight: 700;
}
.s-left p{
margin-inline-start: 18px;
}
.s-right p{
    margin-inline-start: 22px;
}
.main img{
    width: 100%;
}
.container h2{
    text-align:center;
    padding:22px;
}
.container .card{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.card img{
    width:17%;
    margin-block: 16px;
    border-radius:5px;
}
.banner img{
    width: 100%;
    margin-top:44px;
}
.premiere{
    background-color: rgb(8,8,19);
    color:white;
    padding:33px;
    margin-top: 44px;
}
.container .card{
    margin-top: 11px;
}
.footer{
    background-color: rgb(227,218,218);
    padding:33px;
    margin-top: 44px;
}
.footer img{
    width:22%;
    margin-left: 39%;
    border-top: 2px solid gray;
    text-align: center;
}
.footer .icon{
    display: flex;
    text-align: left;
    justify-content: center;
}
.icon i{
    margin-inline:22px;
    font-size: 25px;
    font-size: 36px;
    margin-top:8px;
}
.heading2{
    text-align:center;
}
.fright{
    text-decoration: none;
    font-size: 18px;
    padding:8px;
    margin-top: 26px;
    color: white;
    padding-top: 14px;
}
.fnav2{
    background-color:rgb(42,42,68);
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 35px;
    display: block;
}
.left input{
    margin-inline: 11px;
    width: 380px;
    height:35px;
    border: none;
    outline:none;
    text-align: center;
    margin-top: 8px;
    border-radius: 2px;
    margin-left: 1px;
    border-left: 1px;
    margin-bottom: 5px;
}
.fnav2 :hover{
    color: red;
}
.pre{
    text-align:center;
    font-size: 40px;
}
.pre2{
    height: 370px;
    padding-left: 20px;
    margin-left: 10px;
    border-radius: 5px;
}
.con2{
    font-size: 50px;
}
.loc2{
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: azure;
    padding-top: 18px;
}
.logo1{
     height:75px;
     width: 75px;
}
.left{
    margin-left: 10px;
    margin-top: 10px;
}
.edit{
    font-size: 40px;
    background-color: rgb(42,42,68);
    text-align: center;
    color: azure;
}

