

/*Search Section*/
#search{
    height:350px;
    background-image: url('https://i.ibb.co/Jj1vq6V/Screenshot-2023-06-23-152211.png');
    background-repeat: no-repeat;
    background-size: 100% 450px;
   }
   
   #heading{
       font-size:40px;
       color:white;
       font-weight: bold;
       font-family:'Times New Roman', Times, serif;
       margin-left: 30%;
       margin-top: 15%;
       position: absolute;
   }
   
   .dropdown{
       height:55px;
       width: 50%;
       margin-left: 28%;
       margin-top: 22%;
       position: absolute;
   }
   
   select{
       height:55px;
       width:40%;
       font-size:20px;
       text-align: center; 
   }
   
   #theatreSelect{
       width:59%;
       margin-left: 5px;
   }